@import "../bourbon/bourbon";
@import "../neat/neat";

$main-color: #3498db;

#outer-container {
  min-height:20vh;
  @include outer-container(100vw);
  @include fill-parent;
}

body {
  min-height:100vh;
  min-width:100vw;
  margin:0px;
}

/* ----- The Team Styling ----- */

#the_team_header {
  background-color: $main-color;
}